<section class="solution" id="solution">
    <div class="container">
        <h3 class="section-title text-white">{{ solution.title | safe }}</h3>
        <p class="solution-desc text-white">{{ solution.description | nl2br }}</p>

        <div class="solution-points">
            {% for point in solution.points %}
            <div class="sol-point">
                <div class="sol-point-head">{{ point.title }}</div>
                <div class="sol-point-body">{{ point.desc }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>